<div>
  <div class="artist-card">
      <img src="{{this.images.[1].url}}" alt="" />
    <div class="card-body">
      <h5 class="card-title">
        {{this.name}} {{this.popularity}}
      </h5>
    </div>
  <form class="push" action="/albums/{{this.id}}" method="get">
    <button type="submit">See Albums</button>
  </form>
  </div>
</div>