<div class="main">

  <form>
    <input </form>
    <img src="/images/spotify-background.jpeg" <div class="right">

    <form class="push" action="/artist-search" method="GET">
      <label>Artist Name</label>
      <input type="text" name="artistName" value="">
      <button type="submit">Submit</button>
    </form>

</div>


</div>