
    <div class="main">

        <form>
            <input
        </form>
        <img src="/images/spotify-background.jpeg"

<div class="right">

  <form class="push" action="/artist-search" method="get">
    <!-- the name and value in the form inputs is important because  -->
    <!-- these are going to create the params  -->
    <!-- if the form is a get form, we will be creating query params -->
    <!-- if the form is  post form, we will create URL params -->

    <label>Artist Name</label>
    <input type="text" name="artistName" value="">
    <button type="submit">Submit</button>
  </form>

</div>


    </div>
