<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>




    {{{body}}}
    <!-- this body thing with the triple mustache is where the hbs file the user is looking at goes within the layout -->

 
  </body>
</html>
